html {
    font-size: 10px;
    scroll-behavior: smooth;
}

html, body, nav, h1, h2, h3, h4, h5, h6, p, input, button {
    margin: 0;
    padding: 0;
    border: 0;
}

body * {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 300;
}

img {
    max-width: 100%;
    width: auto;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

/* ### header ### */

header {
    min-height: 100vh;
    background-image: url(./images/bg-01.png);
    background-size: cover;
}

.header-wrapper {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
    padding-top: 30%;

}

.logo span {
    display: block;
    font-size: 2.2rem;
    color: #ffffff;
    padding: 15px 0 45px;
    text-rendering: geometricPrecision;
}

header div label {
    display: flex;
    flex-direction: row;
    padding: 2px;
    max-width: 650px;
    height: 60px;
    background-color: #ffffff;
}

header div label > input {
    width: 100%;
    padding: 0 120px;
    border: none;
}

header div label > input:focus {
    outline: none;
    color: #000000;
}

header div label > button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #5474fd;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Aleo', serif;
    min-width: 146px;
    height: 56px;
    padding-left: 18px;
}

header div label > button > img {
    width: 26px;
    margin-left: 12px;
}

.header-wrapper > span {
    display: block;
    padding-top: 120px;
}

.arrow-down {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 14px;
    background: transparent;
    border-top: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(-135deg);
}

.arrow-down:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
}

.arrow-down:hover {
    border-top: 5px solid #ffffff;
    border-left: 5px solid #ffffff;
}

/* ### navigation bar ### */
nav {
    background-color: #5474fd;
    padding: 30px 0;
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
}

nav a[href^="/"] {
    font-size: 2.4rem;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation a {
    font-family: 'Aleo', serif;
    margin-left: 40px;
}

.navigation a:hover {
    border-radius: 5px;
    border-bottom: 2px solid #ffffff;
}

nav label, #mobile-menu {
    display: none;
}

nav label img {
    width: 70px;
}

/* ### main ### */
h1 {
    font-family: 'Aleo', serif;
    font-size: 3.6rem;
}

/* why-us */
.why-us {
    background-image: url(./images/bg-02.png);
    background-size: cover;
}

.why-us .container {
    min-height: 688px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.why-us .container div {
    max-width: 49%;
}

.why-us .container div h1 {
    padding-bottom: 70px;
}

.why-us .container div:first-of-type img {
    display: none;
}

.why-us .container div p {
    padding-bottom: 35px;
}

.why-us .container div button {
    font-family: 'Aleo', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 61px;
    padding: 0 35px;
    background-color: rgba(84, 116, 253, 0.85);
    cursor: pointer;
}

.why-us .container div:last-child img:last-child {
    padding-top: 2px;
    padding-left: 25%;
}

/* big navigation */

.big-nav {
    background-color: #333333;
}

.big-nav .container {
    padding: 100px 0 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.big-nav .container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Aleo', serif;
    font-size: 3.6rem;
    text-decoration: none;
}

.big-nav .container a img {
    padding-bottom: 32px;
}

/* travel */

.travel {
    background-image: url(./images/bg-03.png);
    background-size: cover;
}

.travel .container {
    min-height: 700px;
    position: relative;
}

.travel .container div {
    position: absolute;
    right: 0;
    top: 20%;
    width: 48%;
    background-color: rgba(36, 34, 35, 0.85);
    padding: 50px 30px 50px 30px;
}

.travel .container div p {
    font-size: 2rem;
    padding-bottom: 30px;
}
.travel .container div p:nth-of-type(3) {
    font-size: 1.6rem;
    padding-bottom: 50px;
}

.travel .container div button {
    font-family: 'Aleo', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 225px;
    min-height: 61px;
    padding: 0 35px;
    background-color: rgba(84, 116, 253, 0.75);
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
}

/* feedbacks */
.feedbacks {
    background-image: url(./images/bg-04.png);
    background-size: cover;
}

.feedbacks .container {
    min-height: 730px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.feedbacks .container > div {
    display: flex;
    flex-direction: row;
}

.tourist {
    background-color: #333333;
    padding: 50px 50px 50px 60px;
}

.tourist p:first-child {
    font-size: 2rem;
    padding-bottom: 32px;
}

.tourist span {
    line-height: 1.7;
    vertical-align: middle;
}

.tourist i {
    position: relative;
    bottom: 10px;
    color: #5474fd;
    font-size: 2rem;
    margin-right: 7px;
}

/* ### footer ### */

footer {
    background-color: #232323;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 120px 0 50px;
}

footer span:first-child {
    font-size: 2.4rem;
    font-weight: 400;
    padding-bottom: 15px;
}

footer span:nth-child(2) {
    font-size: 1.6rem;
    padding-bottom: 30px;
}

footer div {
    display: flex;
    min-width: 165px;
    flex-direction: row;
    justify-content: space-between;
}

footer i {
    font-size: 1.6rem;
}

footer i:hover {
    color: #5474fd;
}

.warning {
    display: none;
}

/* ### responsive ### */

@media screen and (max-width: 1120px) {
    .container {
        padding: 0 10px;
    }
    .why-us .container div:last-child img {
        max-height: 220px;
    }
}

@media screen and (max-width: 930px) {
    .why-us .container div:last-child img:last-child {
        padding-left: 0;
    }

    *.feedbacks .container > div img {
        max-width: 40%;
    }
}

@media screen and (max-width: 850px) {
    .navigation {
        display: none;
    }
    nav .container label {
        display: inline-flex;
    }
    nav {
        position: relative;
        padding: 7px 0;
    }
    input#mobile-menu:checked + .navigation {
        min-height: 120px;
        background-color: #5474fd;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        right: 1%;
        top: 100%;
    }
    input#mobile-menu:checked + .navigation a {
        margin: 0;
    }
    /*overall mobile design*/
    header {
        min-height: 600px;
    }
    .why-us .container {
        min-height: 450px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .big-nav .container {
        padding: 50px 0 60px;
    }
    .big-nav .container a {
        font-size: 3rem;
    }
    .travel .container {
        min-height: 500px;
    }
    .travel .container div {
        max-height: 390px;
        min-width: 315px;
        top: 15%;
        left: 0;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        padding: 25px 15px 25px 15px;
    }
    .travel .container div button {
        margin: 0 auto;
    }
    .feedbacks .container {
        min-height: 550px;
    }
    .feedbacks .container > div img {
        display: none;
    }
    footer {
        padding: 50px 0 20px;
    }
    footer i {
        font-size: 3rem;
    }
    footer a:not(:last-child) {
        margin-right: 30px;
    }
}

@media screen and (max-width: 670px) {
    header div label > input {
        padding: 0 60px;
    }
    .big-nav .container a {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 630px) {
    h1 {
        font-size: 3rem;
    }

    header div label > input {
        padding: 0;
    }

    .why-us .container div {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why-us .container div h1 {
        padding-bottom: 35px;
    }

    .why-us .container div:first-of-type img {
        display: block;
        padding-bottom: 10px;
    }

    .why-us .container div:last-of-type img {
        display: none;
    }

    .big-nav .container {
        padding: 20px 0 30px;
    }

    .big-nav .container a {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .big-nav .container a {
        font-size: 1.2rem;
    }
    input#search-bar::placeholder {
        white-space:pre-line;
    }
}

@media screen and (max-width: 320px) {
    input#search-bar::placeholder {
        font-size: 1.2rem;
    }
    .travel .container div {
        min-width: 300px;
}

@media screen and (max-width: 300px) {
    body * {
        display: none;
    }

    body {
        background-color: red;
    }
    .warning {
        display: block;
        font-size: 2rem;
        font-weight: bold;
        color: #000;
    }
    .warning:before {
        content: url(./images/sad-face.svg);
    }

}





